{% load bootstrap4 %}
<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_jquery %}

</head>
<body>

{% block content %}
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% include 'navigation-bar.html' %}
        </div>
        <div class="container mt-4">
            <div class="row justify-content-md-center">

            </div>
            <div class="row">
                <div class="col-md-auto">
                    <p>Variable width content<br>
                        Variable width content<br>
                        Variable width content<br>
                        Variable width content<br>
                        Variable width content<br></p>
                </div>
                <div class="col">
                    <p>Tutaj treści bloga będą, Tutaj treści bloga będą, Tutaj treści bloga będą,
                        Tutaj treści bloga będą,Tutaj treści bloga będą,Tutaj treści bloga będą,
                        Tutaj treści bloga będą,Tutaj treści bloga będą,Tutaj treści bloga będą,
                        Tutaj treści bloga będą,Tutaj treści bloga będą,Tutaj treści bloga będą,
                        Tutaj treści bloga będą,Tutaj treści bloga będą,Tutaj treści bloga będą,
                    </p>
                </div>

                <div class="col col-lg-2">
                    3 of 3
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>