{% load bootstrap4 %}
<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_jquery %}
</head>
<body>
{% block header %}
    <main role="main" class="container">
        {% include 'navigation-bar.html' %}
    {% include 'navigator-bar-programs.html' %}
    </main>
{% endblock %}


    <div class="container">
        <div class="jumbotron">
            {% block content %}
                {% include 'index.html' %}
            {% endblock %}
        </div>
    </div>


</body>
</html>
