{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="text-secondary">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Wyślij</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}



{#{% extends 'base.html' %}#}
{#{% load bootstrap4 %}#}
{#{% block content %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% bootstrap_form form %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="btn btn-primary">Wyślij</button>#}
{#    </form>#}
{#{% endblock %}#}