{#{% extends 'base.html' %}#}
{#{% load bootstrap4 %}#}
{#{% block content %}#}
{#    {% for obj in images %}#}
{#        {{ obj.name }}#}
{#        {% if obj.gallery_image %}#}
{#            <img src="{{ obj.gallery_image.url }}" alt="" class="Responsive image">#}
{#            <img src="{{ obj.gallery_image.url }}" width="auto" alt="">#}
{#        {% endif %}#}
{#    {% empty %}Nie ma jeszcze obrazków.#}
{#    {% endfor %}#}
{#{% endblock %}#}


{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="card-columns">
        {% for obj in images %}

            <div class="card">
                <img class="card-img-top" src="{{ obj.gallery_image.url }}" alt="gggggg">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.name }}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dodano: {{ obj.date_added|date:'d.m.Y H:i' }}</small>
                </div>
            </div>

        {% empty %}Nie ma jeszcze obrazków.
        {% endfor %}
    </div>
{% endblock %}