{#{% load bootstrap4 %}#}

{% block content %}
<h1 class="display-4">Znajdź / dodaj tag.</h1>
<p class="text-secondary">
    Aplikacja jest pracą zrealizownaą na zakończenie kursu Python Developer.
    Jest blogiem, w którym użytkownicy mogą znaleźć interesujące ich zagadnienia/tagi z zakresu trzech
    aplikacji firmy Adobe: InDesign, Illustrator, Photoshop. Każdy użytkownik może podzielić się swoją
    wiedzą, właśnie z zakresu wymienionych aplikacji
</p>
<h4 class="display-4">Założenie.</h4>
<p class="text-secondary">
    Kiedy tworzysz projekt lub jego część, możesz podzielić się wiedzą, którą posiadasz.
    Opisz co i jak robisz, jakich narzędzi używasz, następnie wpisz kluczowe pojęcia tak, aby ktoś inny,
    korzystając z wyszukiwarki, mógł je znaleźć i w ten sposób dotrzeć do wiedzy.
</p>
{% endblock %}

