{% block header %}

    <!-- Navigations bar -->

    <div class="pb-2 mb-2 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 rounded ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Startowa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'program-list' %}">Programy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-program' %}">Dodaj program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery-list' %}">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-gallery' %}">Dodaj galerię</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-image' %}">Dodaj obrazek</a>
                    </li>
                    <!--
                    <li class="nav-item">
{#                        <a class="nav-link" href="{% url 'search' %}">Szukaj</a>#}
                    </li>-->
                </ul>

                <form action="{% url 'search'  %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="query" placeholder="Szukaj"
                           aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Szukaj</button>
                </form>

            </div>
        </nav>
    </div>

    <!-- ################ second navbar ################ -->

    <ul class="nav justify-content-end mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add-tag' %}">Dodaj tag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add-post' %}">Dodaj posta</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </li>
            <li class="nav-item nav-link">
                Witaj: {{ user }} &rarr; <a href="{% url 'post-user' %}">Moje posty</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Loguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}