{% load bootstrap4 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Poprzednia</a></li>
        {% endif %}
             &nbsp;<li class="page-item page-link">Strona {{ page.number }} z {{ page.paginator.num_pages }}</li>&nbsp;
        {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Następna</a></li>
        {% endif %}
    </ul>
</nav>


