{% extends 'base.html' %}

{% block content %}
    {% for obj in objects %}
        <div class="card mb-3">
            <h4 class="card-header">{{ obj.name }}</h4>
            <div class="card-body">
                <p class="card-text">{{ obj.description }}</p>
                <a href="{{ obj.get_detail_url }}" class="card-link">Zobacz posty</a>
                <a href="{% url 'add-post' %}" class="card-link">Dodaj post</a>
            </div>
        </div>
    {% endfor %}

<!-- PAGINATION -->

    <br><br>
    <hr style="width:100%; height:2px;border-width:0;color:white;background-color:white;text-align:left;margin-left:0">
    <br><br>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">Pierwsza</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
                </li>
            {% endif %}
            &nbsp;
            <li class="page-item page-link">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
        </li>&nbsp;
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Ostatnia</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Nstępna</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
