{% extends 'base.html' %}

{% block page_header %}
    <p style="text-align:right;">
        <small>TAGI:
            {% for tag in tags %}
                {{ tag.name }}
            {% empty %}
                Nie ma tagów.
            {% endfor %}
        </small></p>
    <hr style="width:100%; height:1px;border-width:0;color:black;background-color:black;text-align:left;margin-left:0">
    <h2 class="mt-4">{{ program.name }}</h2>
    <a href="{% url 'add-post' %}" class="card-link">Dodaj post</a>
    <p class="text-left text-black-50">{{ program.description }}</p>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card-mb-3 mb-2">
            <h5 class="card-header bg-light">{{ post.title }} –
                <small>
                    <a href="{{ post.get_detail_url }}" class="card-link">Dodaj komentarz</a><br>
                </small>
            </h5>
            <div class="card-body">
                Autor: {{ post.author }}<br>
                <small>
                    Opublikowano: {{ post.publish|date:'d.m.Y H:i' }} |
                    Uaktualniono: {{ post.updated|date:'d.m.Y H:i' }}
                </small><br>
                {% if post.author == request.user %}
                    <small><a href="{{ post.get_detail_url_2 }}" class="card-link">Edytuj wpis</a></small><br>
                {% endif %}<br>
                {{ post.body }}<br><br>

                {% if post.body_image %}
                    <img src="{{ post.body_image.url }}" width="350" alt="">
                {% endif %}
                <div class="card-body pl-5">
                    <small>
                        Ilośc komentarzy: {{ post.comment_set.all.count }}
                        <hr style="width:25%; height:1px;border-width:0;background-color:lightgrey;
                        text-align:left;margin-left:0">

                        {% for comment in post.comment_set.all %}
                            <strong>{{ comment.name }}</strong><br>
                            {{ comment.body }}<br>
                            <hr>
                        {% empty %}
                            Nie ma komentarzy!
                        {% endfor %}
                    </small>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card-body">
            Nie ma jeszcze wpisów.
        </div>
    {% endfor %}

    <!-- ############# PAGINATION ############# -->

    <br><br>
    <hr style="width:100%; height:2px;border-width:0;color:white;background-color:white;text-align:left;margin-left:0">
    <br><br>
    {% include 'pagination.html' with page=posts %}
{% endblock %}
