{% extends 'base.html' %}

{% block page_header %}
    <h2>{{ program.name }}</h2>
    <a href="{% url 'add-post' %}" class="card-link">Dodaj post</a>
    <p class="text-left text-black-50 mb-2">{{ program.description }}</p>
    <small>Tagi:
        {% for tag in tags %}
            {{ tag.name }}
        {% empty %}
            Nie ma tagów.
        {% endfor %}
    </small>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card-mb-3 mt-4">
            <h5 class="card-header">{{ post.title }}
                <small>

                    {{ post.publish|date:'d.m.Y H:i' }} &mdash;
                    {#                    <a href="{% url 'add-post' %}" class="card-link">Dodaj wpis</a>#}
                    <a href="{{ post.get_detail_url }}" class="card-link">Dodaj komentarz</a>
                </small>
            </h5>
            <div class="card-body">
            Autor: {{ post.author }}<br>
                {{ post.body }}<br><br>
                {% if post.body_image %}
                    <img src="{{ post.body_image.url }}" width="350">
                {% endif %}
                <div class="card-body">
                    <small>
                        {% for comment in post.comment_set.all %}
                            {{ comment.name }}<br>
                            {{ comment.body }}<br>
                            <hr>
                        {% empty %}
                            Nie ma komentarzy!
                        {% endfor %}
                    </small>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card-body">
            Nie ma jeszcze wpisów.
        </div>
    {% endfor %}
{% endblock %}