{% extends 'base.html' %}

{% block content %}

    {% for obj in objects %}
        <div class="card mb-2">
            <h4 class="card-header">{{ obj.name }}</h4>
            <div class="card-body">
                <p class="card-text">{{ obj.description }}</p>
                <a href="{{ obj.get_detail_url }}" class="card-link">Zobacz posty</a>
                <a href="{% url 'add-post' %}" class="card-link">Dodaj post</a>
            </div>
        </div>
    {% endfor %}

    {#    <div class="pagination">#}
    {#    <span class="step-links">#}
    {#        {% if page_obj.has_previous %}#}
    {#            <a href="?page=1">&laquo; first</a>#}
    {#            <a href="?page={{ page_obj.previous_page_number }}">previous</a>#}
    {#        {% endif %}#}
    {##}
    {#        <span class="current">#}
    {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
    {#        </span>#}
    {##}
    {#        {% if page_obj.has_next %}#}
    {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
    {#            <a href="?page={{ page_obj.next_page_number }}">next</a>#}
    {#        {% endif %}#}
    {#    </span>#}
    {#</div>#}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
{#        <li class="page-item">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>#}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
    </ul>
</nav>

{% endblock %}





{#<nav aria-label="Page navigation example">#}
{#    <ul class="pagination">#}
{#        {% if page_obj.has_previous %}#}
{#            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>#}
{#            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>#}
{#            </li>#}
{#        {% endif %}#}
{#        <span class="current">#}
{#        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{#    {% if page_obj.has_next %}#}
{#        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>#}
{#        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>#}
{#    {% endif %}#}
{#    </ul>#}
{#</nav>#}