{% extends 'base.html' %}

{% block page_header %}
    <h2>{{ object.name }}</h2>
    <p class="text-left text-black-50 mb-5">{{ object.description }}</p>
{% endblock %}

{% block content %}
    {% for i in x %}
        <div class="card-mb-3">
            <h4 class="card-header">{{ i.title }}
                <small>
                    {{ i.publish|date:'s M y H:i' }} &mdash;
                    <a href="{% url 'add-post' %}" class="card-link">Dodaj wpis</a>
                </small>
            </h4>
            <div class="card-body">
                {{ i.body }}
            </div>
        </div>
    {% empty %}
        <div class="card-body">
            Nie ma jeszcze wpisów.
        </div>
    {% endfor %}
{% endblock %}